<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Simple Vue Bar Chart</title>
  <link rel="stylesheet" href="style.css">
  <!-- provided some basic styles, which elements are transitioned might be interesting to look at -->
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- D3 here -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- and Vue here -->
</head>

<body>
  <!-- This is our container div, that we will reference in our script-->
  <div id="bars">
    
    <div id="center">
      <h3>{{ chartTitle }}</h3>
    </div>
    
    <div>
      <input type="text" v-model="svgHeight"/>
      <input type="text" v-model="data[0].val"/>
    </div>
    
    <svg :height="svgHeight"  :width="svgWidth" > 
    <!--<svg v-bind:height="svgHeight"> --> <!--Adding : or v-bind and colon can connect it to attribute-->
      <g v-for="(element, index) in data">
        <!--<rect x="10" y="10" width="40" height="100"/> -->
       <!--Ask in class-->
       <rect 
          :height="svgHeight-scale.y(element.val)"
          :width="scale.x.bandwidth()"
          :x="scale.x(element.name)"
          :y="scale.y(element.val)"
          fill="navy"
        />
      
        <text
          :x="scale.x(element.name)"
          :y="scale.y(element.val)"
          >
          {{ element.name }}
        </text>
      </g>
    </svg>
  </div>
  <!-- It’s important that your script is at the bottom of your body,
  because we need the DOM to be ready-->
  <script src="script.js"></script>
</body>

</html>
